main {
    padding: 0 20px 0 20px;
}
ul {
    list-style-type: none;
}
h2 {
    text-align: center;
}
footer {
    background-color: #363636;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px 25px 20px;
}
#search-form {
    display: flex;
    flex-direction: row;
    align-self: center;
}
input[type="search"] {
    width: 420px;
    height: 38px;
}
.login {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.main-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    background-color: $secondary-color;
}
.footer-bottom-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0 40px 0;
    font-size: 0.8rem;
    border-bottom: 1px solid white;
}
.map-and-brochure-request-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.map {
    padding: 8px;
}
.brochure-request-form {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;

}
.names-and-dob-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}
.email-and-submit-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}
.select-dob-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.methods-of-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
}
.method-of-contact {
    text-align: center;
}
.method-of-contact {
    width: 32%;
    height: 176px;
}








