.btn-method-of-contact {
	border-radius: 10px;
	padding: 5px 20px 5px 40px;
	color: #fff;
	font-size: 1.8rem;
	font-weight: bold;
	letter-spacing: 1px;
	display: flex;
	background: linear-gradient($btn-gradient-start, $btn-gradient-end);
	&:hover {
		opacity: 0.8;
	}
}