.brochure-request-form input[type="text"],
.brochure-request-form input[type="email"] {
	width: 350px;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #767676;
	font-size: 1rem;
	padding-left: 10px;
	&:focus {
		border: 1px solid $primary-color;
	}
}
#search-form input {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
	margin-right: 10px;
	font-size: 1rem;
	&:focus {
		border: 1px solid $primary-color;
		width: 420px;
		height: 38px;
		margin-right: 10px;
	}
}