$primary-color: #FC8532;
$secondary-color: #EBEBEB;
$font-base-color: #000;
$btn-gradient-end: #FD6F25; 
$btn-gradient-start: #FD9C47; 
$btn-submit-gradient-start: #55EF2C;
$btn-submit-gradient-end: #2EB922;
