* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
	text-decoration: none;
	color: $font-base-color;
}
a, button {
	cursor: pointer;
}
button:focus, a:focus {
	outline:none;
}
a:visited {
	color: $font-base-color;
}
input {
	border: 0;
	&:focus {
		outline: none;
	}
}