* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a, button {
  cursor: pointer; }

button:focus, a:focus {
  outline: none; }

a:visited {
  color: #000; }

body {
  font-family: sans-serif; }

.container {
  border-radius: 10px;
  background-color: #EBEBEB;
  border: 1px solid #FC8532; }

.btn-method-of-contact {
  border-radius: 10px;
  background-color: #FC8532; }

.sprite {
  background-image: url(../images/weave-sprite.png);
  background-repeat: no-repeat;
  display: block; }

.header-contact-banner-image {
  width: 1280px;
  height: 250px;
  background-position: -5px -265px; }

.footer-contact-banner-image {
  width: 1280px;
  height: 250px;
  background-position: -5px -5px; }

.sprite-map-holder {
  width: 380px;
  height: 300px;
  background-position: -580px -525px; }

.sprite-logo {
  width: 360px;
  height: 50px;
  background-position: -210px -525px; }

.sprite-settings {
  width: 30px;
  height: 30px;
  background-position: -1010px -525px; }

.sprite-search {
  width: 30px;
  height: 30px;
  background-position: -970px -525px; }

.sprite-button-icon-live-chat {
  width: 50px;
  height: 50px;
  background-position: -65px -525px; }

.sprite-button-icon-skype {
  width: 50px;
  height: 50px;
  background-position: -125px -525px; }

.sprite-button-icon-email {
  width: 50px;
  height: 50px;
  background-position: -5px -525px; }

ul {
  list-style-type: none; }

h2 {
  text-align: center; }

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 20px; }

#search-form {
  display: flex;
  flex-direction: row;
  align-self: center; }

input[type="search"] {
  width: 420px; }

.login {
  display: flex;
  flex-direction: row;
  align-self: center; }

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.footer-bottom-list {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.map-and-brochure-request-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.map {
  flex-grow: 1; }

.brochure-request-form {
  display: flex;
  flex-direction: row;
  flex-grow: 2; }

.names-and-dob-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around; }

.email-and-submit-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around; }

.select-dob-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.methods-of-contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.method-of-contact {
  text-align: center; }

.method-of-contact {
  width: 32%;
  height: 176px; }
