* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.sprite {
    background-image: url(../images/weave-sprite.png);
    background-repeat: no-repeat;
    display: block;
}
.header-contact-banner-image {
    width: 1280px;
    height: 250px;
    background-position: -5px -265px;
}
.footer-contact-banner-image {
    width: 1280px;
    height: 250px;
    background-position: -5px -5px;
}
.sprite-map-holder {
    width: 380px;
    height: 300px;
    background-position: -580px -525px;
}
.sprite-logo {
    width: 360px;
    height: 50px;
    background-position: -210px -525px;
}
.sprite-settings {
    width: 30px;
    height: 30px;
    background-position: -1010px -525px;
}
.sprite-search {
    width: 30px;
    height: 30px;
    background-position: -970px -525px;
}
.sprite-button-icon-live-chat {
    width: 50px;
    height: 50px;
    background-position: -65px -525px;
}
.sprite-button-icon-skype {
    width: 50px;
    height: 50px;
    background-position: -125px -525px;
}
.sprite-button-icon-email {
    width: 50px;
    height: 50px;
    background-position: -5px -525px;
}